{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/styles/displayGraph.css">
	<script>
		{{#each defaults}}
			var {{this.[0]}} = "{{this.[1]}}";
		{{/each}}
		var link_template = "{{{link}}}";
	</script>
{{/section}}
<div id="headerspan">
		<table>
			<tr>
				<td id="titlespan" rowspan={{paramlength}}><a href="http://localhost:8000/" id="title">{{graphName}}</a></td>
				<td id="blankspan" rowspan={{paramlength}}></td>
				{{#each params}}
					{{> (paramlist .)}}
				{{/each}}
			</tr>
			
		</table>
</div>

<hr>
<div id="graphdiv">

<iframe id="graphimg" height="800" width="1200"></iframe>

</div>

<script src="/js/displayGraph.js"></script>
