{{!--
Copyright 2017, RadiantBlue Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/styles/displayGraph.css">
	<script>
		var Dash = new Object();
		Dash["name"] = "{{graph_name}}";
		Dash["data"] = {{{json graph_data}}};
		Dash["data"]["current"] = Object.assign({}, Dash["data"]["default"]);

		{{#each defaults}}
			var {{this.[0]}} = "{{this.[1]}}";
		{{/each}}
		var timeRange_default = "";
		var timeInterval_default = "";
		var timeIntervalCustom = "2h";
		var endpointList = "";
		var link_template = "{{{link}}}";
	</script>
	<script src="/js/common.js"></script>
{{/section}}
<div id="overlaydiv" class="hide"></div>
<div id="graph_container">
	<div id="headerspan">
			<table>
				<tr>
					<td id="titlespan" rowspan={{paramlength}}><a href="http://localhost:8000/" id="title">{{graph_name}}</a></td>
					<td id="blankspan" rowspan={{paramlength}}></td>
					{{#each params}}
						{{> (paramlist .) parent=..}}
					{{/each}}
				</tr>
			
			</table>
	</div>
	<div id="bodyspan">
		<div id="graphdiv">
			<iframe id="graphimg" height="800" width="1200"></iframe>
		</div>	
	</div>
</div>
<div id="logs_container" class="hide">
	{{> logs}}
</div>

{{#section 'foot'}}
	<script src="/js/displayGraph.js"></script>
{{/section}}
